body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;

    /* background variables */
    --cont-main: #f4f4f4;
    --div-conv: #fff;

    /* text variables */
    --div-header: #5A537b;
    --div-par: #353535;
}

.dark {
    /* background variables */
    --cont-main: #1f2937;
    --div-conv: #273549;

    /* text variables */
    --div-header: #ccc1ff;
    --div-par: #fff;
}

.container {
    width: 100%;
    width: 550px;
    height: 729px;
    background: var(--cont-main);
    margin: 0 auto; 
}

.top-input {
    width: 550px;
    height: 285px;
    background: rgb(73, 73, 238);
    color: var(--div-conv);
    padding-top: 10px;
    padding-bottom: 10px;
}


h1 {
    padding-top: 0px;
    font-size: 28px;
}

input {
    width: 117px;
    height: 83px;
    border: 2px solid #b295ff;
    border-radius: 5px;
    text-align: center;
    font-size: 58px;
}

h1,
input {
    font-weight: 800;
}

button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: black;
    font-weight: 500px;
    font-size: 16px;
}



.length,
.Volume,
.Mass {
  width: 500px;
  height: 110px;
  border-radius: 4.6px;
  background: var(--div-conv); 
  
  margin: 20 auto 0 auto;
  padding-top: 15px;
}

h3 {
    color: var(--div-header); 
    font-weight: 600px;
    font-size: 20px;
}

p {
    color: var(--div-par); 
    font-weight: 400px;
    font-size: 14px;
}

